.rent-a-car-main {
  padding: 5%;
  margin-top: 10vh;
}

.rent-a-car-main h2 {
  font-size: 4.8vh;
}

.rent-a-car-main hr {
  border: none;
  height: 3px;
  width: 10%;
  background-color: #B92125;
  margin: 1vh;
}

.head-nav li a,
.head-nav summary,
.head-contact a,
.dark-color {
  color: #000 !important;
  font-weight: 500 !important;
}

.page-width {
  max-width: 90% !important;
}

.contact {
  color: #fff !important;
}

a[href^="tel:"] {
  background-image: url('/images/black-phone.png') !important;
  background-size: 13px;
  padding-left: 20px;
}

a[href^="mailto:"] {
  background-image: url('/images/black-envelope.png') !important;
  background-size: 20px;
}

.vozila-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.thumbnail img {
  height: 65vh;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 20px;
  margin-top: -5vh;
}

.middle h3 {
  font-size: 4.8vh;
  font-family: 'Lato';
  font-weight: 400;
}

.characteristics {
  margin-top: 3vh;
  display: flex;
  gap: 40px;
}

.characteristics-single {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 2.4vh;
  color: #848595;
  margin: 1vh 1vh;
  width: 33%;
}

.characteristics-single span {
  font-family: "Merriweather";
  font-weight: 300;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
}

.cijena-dan-container {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.rent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  background-color: #1E6D3E;
  color: white;
  padding: 10px 25px;
  border-radius: 16px;
  width: 275px;
  margin-top: 10px;
  font-size: 3.4vh;
  font-weight: 300;
}

.rent-button img {
  width: 28px;
  height: 35px;
}

.cijena-dan-container h3 {
  color: #B92125;
}

.cijena-dan-container h3,
.cijena-dan-container p {
  font-size: 4.8vh;
  font-family: 'Lato';
  font-weight: 400;
}

.price-container h4 {
  font-size: 2.5vh;
  font-weight: 300;
  margin: 3vh 0;
}

.mobile-logo {
  display: none;
}

.desktop-logo {
  display: block;
}

@media only screen and (max-width: 768px) {
  .rent-a-car-main {
    padding: 5%;
    margin-top: 10vh;
  }

  .rent-a-car-main h2 {
    font-size: 4vh;
  }

  .rent-a-car-main hr {
    width: 20%;
    margin: 1vh 0;
  }

  .mobile-logo {
    display: block;
  }

  .desktop-logo {
    display: none;
  }

  a[href^="tel:"],
  a[href^="mailto:"] {
    background-size: 13px;
    padding-left: 20px;
  }

  a[href^="tel:"] {
    background-image: url('/images/phone-red.svg') !important;
    background-size: 13px;
    padding-left: 20px;
  }
  
  a[href^="mailto:"] {
    background-image: url('/images/mail-red.svg') !important;
    background-size: 20px;
  }

  .vozila-container {
    flex-direction: column;
    gap: 0;
  }

  .car {
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
  }

  .thumbnail img {
    height: 45vh;
    width: 100%;
  }

  .middle {
    padding: 0;
    margin-top: -5vh;
  }

  .middle h3 {
    font-size: 4vh;
  }

  .characteristics {
    margin-top: 3vh;
    display: flex;
    gap: 40px;
  }

  .characteristics-single {
    flex-direction: column;
    font-size: 1.6vh;
    margin: auto 1vh;
    width: 33%;
  }

  .price-container {
    margin-top: 5vh;
  }

  .cijena-dan-container {
    align-items: baseline;
    gap: 5px;
  }

  .rent-button {
    width: 100%;
    font-size: 2.5vh;
  }

  .rent-button img {
    scale: 0.8;
  }

  .cijena-dan-container h3 {
    font-size: 4vh;
  }

  .cijena-dan-container p {
    font-size: 3.8vh;
    color: #000 !important;
  }

  .price-container h4 {
    font-size: 2.5vh;
    margin: 2vh 0;
  }
}
