

.ture-details-single {
  padding: 5%;
  display: flex;
  margin-top: 10vh;

}


.page-width{
  max-width: 90% !important;
}


.ture-details-content{
  width: 65%;
}
.ture-details-form {
  width: 35%;
  padding-left: 5vw;
}
.ture-details-content h2 {
  font-size: 4.8vh;
  
}

.ture-details-content hr {
  border: none;
  background-color: #B92125;
  height: 3px;
  width: 8%;
  margin:1vh 0;
}


/*must*/

.head-nav li a {
  font-weight: 500 !important;
}
.head-nav summary {
  color: #000 !important;
  font-weight: 500 !important;
}
.head-contact a {
  color: #000 !important;
  font-weight: 500 !important;
}

.dark-color {
  color: #000 !important;
}

.page-width {
  max-width: 90% !important;
}
.contact {
  color: #fff !important;
}

a[href^="tel:"] {
  background-image: url("/images/black-phone.png") !important;
  background-size: 13px;
  padding-left: 20px;
}
a[href^="mailto:"] {
  background-image: url("/images/black-envelope.png") !important;
  background-size: 20px;
}

.mobile-logo {
  display: none;
}

.desktop-logo {
  display: block;
}


/*Swiper*/

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  margin-top: 5vh;
  height: 60vh;
  width: 100%;
}

.mySwiper {
  height: 24vh;
  box-sizing: border-box;
  padding:2vh 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}


.mySwiper .swiper-slide img {
  border-radius: 12px;

}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button-next,
.button-prev {
  position: absolute;
  top: 50%; /* Align to the vertical center */
  z-index: 10;
  cursor: pointer;
}

.button-next {
  right: 1vw;
  transform: translateY(-50%); /* fve up by 50% of its own height */
}

.button-prev {
  left: 1vw;
  transform: translateY(-50%); /* Move up by 50% of its own height */
}
 

/**/

.karakteristike {
  display: flex;
  margin-top: 3vh;
  width: 110%;
}

.karakteristike-single {
  display: flex;
  align-items: center;
  width: 25%;

}

.karakteristike-single-text h3{
font-size: 2vh;
font-weight: 300;

}
.karakteristike-single-text h4 {
  font-size: 2vh;
  color: #848595;
  font-weight: 300;
  margin-top: 5px;
}

.karakteristike-single__icon img {
  width: 6.8vh;
  margin-right: 1vh;
}


/*Form*/

.ture-details-form {
  margin-top: 11vh;
}
.ture-details-form h2 {
  font-size: 3.8vh;
}

#form-line {
  max-width: 90%;
}

.date-time-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh auto;
}

.dropdown-date {
  display: flex;
  align-items: center;
  border: 1px solid #f2f7f6;
  width: 35vh;
  height: 8vh;
  padding: 1.6vh;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-date h4 {
  font-size: 2.5vh;
  color: #848595;
  font-family: "Lato";
  font-weight: 400;
}
.dropdown-date img {
  margin-right: 10px;
  width: 7vh;
}
.dropdown-date select {
  margin-left: -3px;
  padding: 0px 16vh 0vh 0;
  margin-bottom: 1vh;
  font-size: 2vh;
  font-family: "Lato";
  border: none;
}

/**/
.dropdown-time {
  display: flex;
  align-items: center;
  border: 1px solid #f2f7f6;
  width: 35vh;
  height: 8vh;
  padding: 1.6vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.dropdown-time h4 {
  font-size: 2.5vh;
  color: #848595;
  font-family: "Lato";
  font-weight: 400;

}
.dropdown-time img {
  margin-right: 10px;
  width: 7vh;
}
.dropdown-time select {
  margin-left: -3px;
  margin-bottom: 1vh;
  padding: 0px 16.6vh 0vh 0;
  font-size: 2vh;
  font-family: "Lato";
  border: none;
}

#transfer-upit h4 {
  font-size: 2.5vh;
  font-family: "Lato";
  margin: 1vh 0;
}

.passengers span{
  font-size: 2.1vh;
  font-family: "Lato";
}



.total-price {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
}
.total-price span {
  font-size: 3.4vh;
  font-family: "Lato";
}

.submit-button {
  background-color: #b92125;
  border-radius: 12px;
  font-size: 3.8vh;
  border: none;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5vh;
  font-weight: 400;
}
.submit-button:hover {
  background-color: #b92126de;
}




.passenger-count {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}

.passenger-count-button button {
  background-color: #00000000;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  border-radius: 100px;
  color: #848595;
  margin: 0 1vh;
}
.passenger-count-button span {
  font-size: 2vh;
  font-family: "Lato";
  font-weight: 400;
}

.form-greyline {
  width: 90% !important;
  border: none;
  height: 2px !important;
  background-color: #f2f7f6 !important;
  margin: 2vh 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.form-info {
  display: flex;
}
.form-info p {
  font-size: 1.7vh;
}

#popup-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#popup-summary p {
  color: #b92125;
}

#popup-summary h2 {
  color: #b92125;
  font-family: "Lato";
  font-size: 4.8vh;
  margin-top: -3vh;
}

.modal-image {
  width: 50%;
  background: url(/images/kotorbrodom.png);
  background-position: center;
  background-size: cover;
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 5% auto;
  max-width: 1000px;
  height: 60vh;
}

.close-button {
  color: #aaa;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-text {
  width: 50%;
}
.modal-content-text h4 {
  font-family: "Lato";
  font-size: 3.4vh;
  font-weight: 400;
  margin-top: 3vh;
}

#user-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #b92125;
  border-right: 2px solid #b92125;
  border-bottom: 2px solid #b92125;
  border-top-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 12px;
  width: 90%;
  padding: 3vh 0;
  height: 47vh;
}
.user-details-form-single {
  width: 90%;
}

#user-details-form input {
  width: 100%;
  font-size: 1.7vh;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 1.5vh;
  margin: 1vh 0;
  font-family: "Merriweather";
  border-radius: 10px;
}

#user-details-form input::placeholder {
  font-size: 1.7vh;
  color: #b3b3b3;

  font-family: "Merriweather";
}

#user-details-form textarea::placeholder {
  font-size: 1.7vh;
  color: #b3b3b3;

  font-family: "Merriweather";
}

#user-details-form textarea {
  width: 100%;
  font-size: 1.7vh;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 15px;
  margin: 1vh auto;
  background-color: #fff;
  font-family: "Merriweather";
  border-radius: 10px;
  height: 10vh;
}

.submit-button-popup {
  background-color: #1e6d3e;
  font-family: "Lato";
  font-size: 2.5vh;
  border-radius: 15px;
  border: none;
  width: 90%;
  color: #fff;
  padding: 10px 15px;
}


.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #ECECEC;
  margin-top: 4vh;
  font-size: 2.5vh;
  padding: 0px;
  font-weight: 300;
}

.tab {
  padding: 20px;
  text-align: center;
  width: 25%;
  cursor: pointer;
  border:none;
  background-color: #ECECEC !important;
}
.tab:hover {
  background-color: #B92125 !important;
  color: #fff !important;
}

.tab.active {
  background-color: #B92125 !important;
  color: #fff !important;
}


.tab-content {
  display: none;
  padding: 20px 0;
}



.tab-content h3 {
  font-size: 4.5vh;
  font-family: 'Lato';
  font-weight: 400;
}

.tab-content hr {
  border: none;
  background-color: #B92125;
  height: 3px;
  width: 10%;
  margin: 1vh 0;
}

.tab-content p {
  font-size: 3.4vh;
  margin-top: 4vh ;
}

.ukljuceno-lists {
  display: flex;
}

.ukljuceno-list {
  margin-right: 2vh;
}

.ukljuceno-list-item {
  display: flex;
  align-items: center;
  margin: 4vh 0;
}

.ukljuceno-list-item img {
  margin-right: 5px;
 
}

.ukljuceno-list-item h5 {
  font-size: 3.4vh;
  font-weight: 300;
}

.raspored {
  margin: 3vh 0;
  position: relative;
}

.raspored-single {
  display: flex;
  align-items: center;
  margin: 8vh 0;
}

.raspored-single h5 {
  font-size: 2.5vh;
  font-weight: 400;
}

.raspored-single__icon {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  z-index: 5;
  margin-right: 0.5vw;
}
.raspored::before {
  content: '';
  position: absolute;
  left: 4%; /* Adjust this value based on your icon alignment */
  top: 0;
  bottom: 0;
  width: 2px;
  border-left: 2px dotted green;
  z-index: -1;
}

.google-map {
  margin: 3vh 0;
}

.recenzije {
  margin: 5vh 0;
}

.recenzije h3 {
  font-size: 4.5vh;
  font-family: 'Lato';
  font-weight: 400;
}

.recenzije hr {
  border: none;
  background-color: #B92125;
  height: 3px;
  width: 10%;
  margin: 1vh 0;
}

.recenzije-single-item {
  border-bottom:  4px solid #F2F7F6;
  padding-bottom: 15px;
}

.recenzije-single-item h4 {
  font-size: 3.4vh;
  font-weight: 300;
  margin-top: 5vh;
}

.recenzije-single-item-rating {
  display: flex;
  align-items: center;
  margin: 5vh 0;
}

.recenzije-single-item-rating span {
  font-size: 3.8vh;
  color: #1E6D3E;
  font-family: 'Lato';
  font-weight: 400;
}

.recenzije-single-item-rating h5 {
  font-size: 3.4vh;
  font-family: 'Lato';
  font-weight: 400;
  margin-left: 5vw;
}

.recenzije-single-item p {
  font-family: 'Lato';
  font-size: 2.1vh;
  font-weight: 500;
}

/*Rating form*/ 


.form-recenzija h2 {
  font-size: 3.8vh;
  font-family: 'Merriweather';
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 75px;
  margin: 5vh 0;
}

.rating-form .icon {
  margin: 0 10px 0 0;
  font-size: 85px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #ccc;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #f5d501;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #ccc;
  text-shadow: 0 0 5px #f5d501;
}

/* Additional form fields styling */
.form-fields {
  margin-top: 20px;
}

.form-fields input {
  background-color: #ececec;
}

.inline-fields {
  display: flex;
  gap: 80px;
  margin-bottom: 3vh;
}

.inline-fields input {
  flex: 1;
  padding: 10px;
  font-size: 2.5vh;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 2.5vh;
  border: none;
  border-radius: 12px;
  font-family: "Merriweather";
  font-weight: 300;
}

textarea {
  height: 35vh;
  background-color: #ececec;
  margin-top: 3vh;
}

button {
  padding: 10px 20px;
  font-size: 2.5vh;
  font-family: "Merriweather";
  color: white;
  background-color: #1E6D3E;
  border: none;
  margin: 3vh auto;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
}



.rating-form {
  max-width: 100%;
  position: relative;
  z-index: 10;
}

#arrowup {
  margin-left: 10px;
  margin-bottom: 0px;
  width: 2.5vh;
}


.ostale-ture {
  width: 70%;
  padding: 5%;
  margin: 5vh 0;
}
.ostale-ture h3 {
  font-size: 4.5vh;
  font-family: 'Lato';
  font-weight: 400;
}

.ostale-ture hr {
  border: none;
  background-color: #B92125;
  height: 3px;
  width: 15%;
  margin: 1vh 0;
}

.ostale-ture-item  {
  width: 32%;
  border: 1px solid #BFBFBF;
  border-radius: 12px;
  margin:3vh 2vh 0 0;
  
}
.ostale-ture-item-content {
  padding: 5%;
  margin-top: 2vh;
}

.ostale-ture-item img {
  width: 100%;
  height: 242px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;

}

.ostale-ture-item h4 {
  font-size: 2.3vh;
}

.ostale-ture-ite__rating span{
color: #B92125;
font-size: 1.7vh;
margin-right: 10px;
}
.ostale-ture-ite__rating {
  margin: 1vh 0;
  display: flex;
  align-items: center;
}

.ostale-ture-ite__rating p {
  font-size: 1.7vh;
  color: #898A97;
}

.ostale-ture-item__price {
  display: flex;
  align-items: center;
}
.ostale-ture-item__price h3 {
  font-size: 3vh;
  font-family: 'Open Sans';
  font-weight: 600;
}
.ostale-ture-item__price h4 {
  font-size: 1.7vh;
  margin-left: 10px;
  margin-top: 5px;
}

.location-pin {
  display: flex;
  margin-top: -5vh;
  margin-left: 1vw;
}

.location-pin img {
  width: 14px;
  height: 17px;
}

.location-pin h5 {
  font-size: 1.7vh;
  color: #fff;
  font-weight: 400;
  margin-left: 5px;
}

.ostale-ture-item-content a {
  text-decoration: none;
  color: #000;
}

.ostale-ture-wrap {
  display: flex;
}

@media only screen and (max-width: 768px) {

  
  .ture-details-single {
    flex-direction: column;
  
  }
  
  .ture-details-content{
    width: 100%;
  }
  .ture-details-form {
    width: 100%;
    padding-left: 0;
  }
  .ture-details-content h2 {
    font-size: 4vh;
    
  }
  
  .ture-details-content hr {
    border: none;
    background-color: #B92125;
    height: 3px;
    width: 30%;
    margin:1vh 0;
  }
  

  .mobile-logo {
    display: block;
  }
  
  .desktop-logo {
    display: none;
  }

  a[href^="tel:"] {
    background-image: url("/images/phone-red.svg") !important;
    background-size: 13px;
    padding-left: 20px;
  }
  a[href^="mailto:"] {
    background-image: url("/images/mail-red.svg") !important;
    background-size: 20px;
  }
  
  
  /*Swiper*/
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    margin-top: 5vh;
    height: 35vh;
    width: 100%;
  }
  
  .mySwiper {
    height: 12vh;
    box-sizing: border-box;
    padding:2vh 0;
  }
  

  .button-next,
  .button-prev {
    position: absolute;
    top: 50%; /* Align to the vertical center */
    z-index: 10;
    cursor: pointer;
    scale: 0.7;
  }
  
  
  /**/
  
  .karakteristike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 25;
  }
  
  .karakteristike-single {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 3vh;
  }
  
  .karakteristike-single-text h3{
  font-size: 1.7vh;
  font-weight: 300;
  
  }
  .karakteristike-single-text h4 {
    font-size: 1.7vh;
    color: #848595;
    font-weight: 300;
    margin-top: 2px;
  }
  
  .karakteristike-single__icon img {
    width: 4.8vh;
    margin-right: 1vh;
  }


  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ECECEC;
    margin-top: 4vh;
    font-size: 2vh;
    padding: 0px;
    font-weight: 300;
  }
  
  .tab {
    padding: 20px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border:none;
    background-color: #ECECEC !important;
  }

  
  .tab-content {
    display: none;
    padding: 20px 0;
  }
  
  
  
  .tab-content h3 {
    font-size: 4.5vh;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .tab-content hr {
    border: none;
    background-color: #B92125;
    height: 3px;
    width: 30%;
    margin: 1vh 0;
  }
  
  .tab-content p {
    font-size: 2.5vh;
    margin-top: 4vh ;
    line-height: 30px;
  }
  
  .ukljuceno-lists {
    display: flex;
    flex-direction: column;
  }
  
  .ukljuceno-list {
    margin-right: 2vh;
    border-bottom: 4px solid #F2F7F6;
  }
  
  .ukljuceno-list-item {
    display: flex;
    align-items: center;
    margin: 5vh 0;
  }
  
  .ukljuceno-list-item img {
    margin-right: 10px;
   
  }
  
  .ukljuceno-list-item h5 {
    font-size: 3vh;
    font-weight: 300;
  }
  
  .raspored {
    margin: 3vh 0;
    position: relative;
  }
  
  .raspored-single {
    display: flex;
    align-items: center;
    margin: 8vh 0;
  }
  
  .raspored-single h5 {
    font-size: 2.5vh;
    font-weight: 400;
  }
  
  .raspored-single__icon {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    z-index: 5;
    margin-right: 8vw;
  }
  .raspored::before {
    content: '';
    position: absolute;
    left: 4%; /* Adjust this value based on your icon alignment */
    top: 0;
    bottom: 0;
    width: 2px;
    border-left: 2px dotted green;
    z-index: -1;
  }
  
  .google-map {
    margin: 3vh 0;
  }
  
  .recenzije {
    margin: 5vh 0;
  }
  
  .recenzije h3 {
    font-size: 4.5vh;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .recenzije hr {
    border: none;
    background-color: #B92125;
    height: 3px;
    width: 30%;
    margin: 1vh 0;
  }
  
  .recenzije-single-item h4 {
    font-size: 3vh;
    font-weight: 300;
    margin-top: 5vh;
  }
  
  .recenzije-single-item-rating {
    display: flex;
    align-items: center;
    margin: 5vh 0;
  }
  
  .recenzije-single-item-rating span {
    font-size: 3vh;
    color: #1E6D3E;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .recenzije-single-item-rating h5 {
    font-size: 3vh;
    font-family: 'Lato';
    font-weight: 400;
    margin-left: 5vw;
  }
  
  .recenzije-single-item p {
    font-family: 'Lato';
    font-size: 2vh;
    font-weight: 500;
  }
  
  /*Rating form*/ 
  
  
  .form-recenzija h2 {
    font-size: 3.8vh;
    font-family: 'Merriweather';
  }
  
  .rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 75px;
    margin: 5vh 0;
  }
  
  .rating-form .icon {
    margin: 0 10px 0 0;
    font-size: 65px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  
  
  .ostale-ture {
    margin: 5vh 0;
    width: 100%;
  }
  .ostale-ture h3 {
    font-size: 4.5vh;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .ostale-ture hr {
    border: none;
    background-color: #B92125;
    height: 3px;
    width: 15%;
    margin: 1vh 0;
  }
  
  .ostale-ture-item  {
    width: 100%;
    border: 1px solid #BFBFBF;
    border-radius: 12px;
    margin:3vh 2vh 0 0;
    
  }
  .ostale-ture-item-content {
    padding: 5%;
  }
  
  .ostale-ture-item img {
    width: 100%;
    height: 242px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  
  }
  
  .ostale-ture-item h4 {
    font-size: 2.3vh;
  }
  
  .ostale-ture-ite__rating span{
  color: #B92125;
  font-size: 1.7vh;
  margin-right: 10px;
  }
  .ostale-ture-ite__rating {
    margin: 1vh 0;
    display: flex;
    align-items: center;
  }
  
  .ostale-ture-ite__rating p {
    font-size: 1.7vh;
    color: #898A97;
  }
  
  .ostale-ture-item__price {
    display: flex;
    align-items: center;
  }
  .ostale-ture-item__price h3 {
    font-size: 3vh;
    font-family: 'Open Sans'; 
    font-weight: 600;
  }
  .ostale-ture-item__price h4 {
    font-size: 1.7vh;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .location-pin {
    display: flex;
    margin-top: -4vh;
    margin-left: 4vw;
  }
  
  .location-pin img {
    width: 14px;
    height: 17px;
  }
  
  .location-pin h5 {
    font-size: 1.7vh;
    color: #fff;
    font-weight: 400;
    margin-left: 5px;
  }
  
  .ostale-ture-item-content a {
    text-decoration: none;
    color: #000;
  }
  
  .ostale-ture-wrap {
    display: flex;
    flex-direction: column;
  }


  /*Forma za upit*/



#form-line {
  max-width: 100%;
}

.date-time-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh auto;
}




/**/
.passengers span
 {
  font-size: 2.1vh;
  font-family: "Lato";
}

.total-price {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.total-price span {
  font-size: 3.4vh;
  font-family: "Lato";
}

.submit-button {
  background-color: #b92125;
  border-radius: 12px;
  font-size: 3vh;
  border: none;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5vh;
  font-weight: 400;
}
.submit-button:hover {
  background-color: #b92126de;
}


.passenger-count {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.passenger-count-button button {
  background-color: #00000000;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  border-radius: 100px;
  color: #848595;
  margin: 0 1vh;
}
.passenger-count-button span {
  font-size: 2vh;
  font-family: "Lato";
  font-weight: 400;
}

.form-greyline {
  width: 100% !important;
  border: none;
  height: 2px !important;
  background-color: #f2f7f6 !important;
  margin: 2vh 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.form-info {
  display: flex;
}
.form-info p {
  font-size: 1.4vh;
}

#popup-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#popup-summary p {
  color: #b92125;
}

#popup-summary h2 {
  color: #b92125;
  font-family: "Lato";
  font-size: 3.8vh;
  margin-top: -3vh;
}

.modal-image {
  width: 100%;
  background: url(/images/modal-bg.png);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 5% auto;
  max-width: 90%;
  min-height: 80vh;
  height: auto;
}

.close-button {
  color: #aaa;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-text {
  width: 100%;
}
.modal-content-text h4 {
  font-family: "Lato";
  font-size: 3vh;
  font-weight: 400;
  margin-top: 3vh;
}

#user-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #b92125;
  border-right: 2px solid #b92125;
  border-bottom: 2px solid #b92125;
  border-top-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 12px;
  width: 90%;
  padding: 3vh 0;
  height: 47vh;
}
.user-details-form-single {
  width: 90%;
}

#user-details-form input {
  width: 100%;
  font-size: 1.5vh;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 15px;
  margin: 1vh 0;
  font-family: "Merriweather";
  border-radius: 10px;
}

#user-details-form input::placeholder {
  font-size: 1.5vh;
  color: #b3b3b3;

  font-family: "Merriweather";
}

#user-details-form textarea::placeholder {
  font-size: 1.5vh;
  color: #b3b3b3;

  font-family: "Merriweather";
}

#user-details-form textarea {
  width: 100%;
  font-size: 1.5vh;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 15px;
  margin: 1vh auto;
  font-family: "Merriweather";
  border-radius: 10px;
  height: 10vh;
}

.submit-button-popup {
  background-color: #1e6d3e;
  font-family: "Lato";
  font-size: 2.2vh;
  border-radius: 15px;
  border: none;
  width: 90%;
  color: #fff;
  padding: 10px 15px;
}


}